<p id="notice"><%= notice %></p>

<h1>Manager Stores</h1>

<table>
  <thead>
    <tr>
      <th>Manager</th>
      <th>Store</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manager_stores.each do |manager_store| %>
      <tr>
        <td><%= manager_store.manager_id %></td>
        <td><%= manager_store.store_id %></td>
        <td><%= link_to 'Show', manager_store %></td>
        <td><%= link_to 'Edit', edit_manager_store_path(manager_store) %></td>
        <td><%= link_to 'Destroy', manager_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manager Store', new_manager_store_path %>
